# ==============================
# Cosign
# ==============================

keys/*.key
cosign.key

# ==============================
# Secrets / credentials
# ==============================

.env
.env.*
*.pem
*.p12
*.pfx

# ==============================
# Temporary files
# ==============================

*.tmp
*.log
*.tar

# ==============================
# Editor / OS
# ==============================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ==============================
# Trivy cache
# ==============================

.trivycache/
.cache/
keys_local/
**/cosign.key
